.projects-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px; /* Add margin-right to create space between the button and the input */
}

.search {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.projects {
  text-align: center;
}

.no-projects {
  text-align: center;
  border: 2px dashed #ccc;
  border-radius: 10px;
  padding: 50px 20px;
}

.no-projects p {
  margin: 10px 0;
}

.new-project-btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.project-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.project-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin: 10px 0;
  width: 100%;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  width: 400px;
  text-align: left; /* Align content to the left */
}

.modal-content .input-group {
  margin-bottom: 20px;
}

.modal-content .input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.modal-content .input-group input {
  display: block;
  width: calc(100% - 20px);
  padding: 10px;
  margin-top: 5px; /* Add margin-top for spacing between label and input */
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Ensure padding doesn't affect total width */
}
